* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #a281af;
    box-sizing: border-box;
    font-family: 'OpenSans-Regular';

    background-image: url('https://iili.io/2Feh4R.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 97% 97%; 
}

@font-face {
    src: url(../fonts/OpenSans-Regular.ttf);
    font-family: 'OpenSans-Regular';
}
@font-face {
    src: url(../fonts/OpenSans-Bold.ttf);
    font-family: 'OpenSans-Bold';
}


header {
    height: 72px;
    background-color: #7030a0;
    margin-bottom: 50px;
}

.container {
    width: 1024px;
    margin: auto;

    /* flexbox */
    display: flex;
    flex-direction: column;
}


#titulo-container {
    margin: auto;
    width: 650px;
    padding-bottom: 60px;
}

#titulo {
    color: white;
    font-family: 'OpenSans-Regular';
    text-align: center;
    font-size: 29px;
    line-height: 35px;
    font-weight: 300;
}

#container-contacto {
    margin: auto;
    background-color: #9e5ad6;
    border-radius: 40px;
    padding: 15px 45px;
    width: 70%;
    margin-bottom: 115px;
}

.contacto {
    background-color: white;
    margin: 30px 0px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(61, 13, 60, 0.15);
    /* flexbox */
    display: flex;
    justify-content: space-between;
}

.flexStart {
    display: flex;
}

.flexEnd{
    display: flex;
}

.icon {
    width: 50px;
    height: 50px;
    /* flexbox */
    align-self: center;
}

.iconEnd {
    width: 30px;
    height: 30px;
    /* flexbox */
    align-self: center;
}

.anchor {
    text-decoration: none;
    color: #7030a0;
}

.text {
    padding: 0px 15px;
    font-weight: normal;
}

.upperText {
    color: #7030a0;
    font-family: 'OpenSans-Regular';
    font-size: 18px;
    margin-bottom: 10px;
}
.lowerText {
    color: #a3a9b4;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
}





/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 80%;
        flex-direction: column;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container {
        width: 80%;
        flex-direction: column;
    }
    #titulo-container {
        width: 80%;
    }
    #container-contacto {
        width: 80%;
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: 90%;
        flex-direction: column;
    }
    #titulo-container {
        width: 90%;
    }
    #container-contacto {
        width: 80%;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 95%;
        flex-direction: column;
    }
    #titulo-container {
        width: 95%;
    }
    #container-contacto {
        width: 80%;
    }
}