* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #a281af;
    box-sizing: border-box;
    font-family: 'OpenSans-Regular';
}

@font-face {
    src: url(../fonts/OpenSans-Regular.ttf);
    font-family: 'OpenSans-Regular';
}
@font-face {
    src: url(../fonts/OpenSans-Bold.ttf);
    font-family: 'OpenSans-Bold';
}


header {
    height: 72px;
    margin-bottom: 100px;
    background-color: #7030a0;
}
.container {
    width: 1024px;
    margin: auto;
    /* background-color: red; */
}

.countdown-container {
    text-align: center;
    margin: auto;
    width: 415px;
    padding: 20px 100px 20px 100px;
    background-color: #ffffff;
    border-radius: 30px;
}

.countdown-container-new {
    text-align: center;
    margin: auto;
    width: 415px;
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    border-radius: 30px;
}

.texto {
    text-align: center;
    color: #444444;
    font-size: 28px;
    font-weight: bold;
    font-family: 'OpenSans-Bold';
}

.countdown {
    padding: 20px 0px 20px 0px;
    background-color: white;
}

#evento {
    box-shadow: 0px 3px 15px #4b3b57;
    margin: 30px 0px 115px 0px;
}

.responsive {
    width: 100%;
}

.digit-container { 
    display: inline-block;
}
.digit-label {
    text-align: center;
    color: #444444;
    font-size: 12px;
    font-family: 'OpenSans-Regular';
    margin-bottom: 5px;
}

.clockDigit {
    display: inline-block;
    color: #e7e6e6;
    background-color: #444444;
    border-radius: 5px;
    box-shadow: 0px 5px 15px #353535;
    text-shadow: 0px 3px 5px #272727;
    padding: 1px 5px 1px 5px;
    font-size: 36px;
    font-weight: bold;
    font-family: 'OpenSans-Bold';    
}

.separador {
    display: inline-block;
    color: #444444;
    font-size: 42px;
    font-weight: bold;
    font-family: 'OpenSans-Bold';
}








/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 90%;
    }
    #evento {
        margin: 30px 0px 170px 0px;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container {
        width: 90%;
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: 90%;
    }
    .countdown-container {
        padding: 20px 20px 20px 20px;
        width: 90%;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 90%;
    }
    .countdown-container {
        width: 90%;
        padding: 20px 5px 20px 5px;
    }
    .countdown-container-new {
        width: 90%;
        padding: 20px 5px 20px 5px;
    }
    .clockDigit {
        display: inline-block;
        color: #e7e6e6;
        background-color: #444444;
        border-radius: 5px;
        box-shadow: 0px 5px 15px #353535;
        text-shadow: 0px 3px 5px #272727;
        padding: 3px 5px 3px 5px;
        font-size: 25px;
        font-weight: bold;
        font-family: 'OpenSans-Bold';    
    }
}